.Rproj.user
.Rhistory
.RData
.Ruserdata
packrat/lib*/
*.DS_Store
.drake/*

*.aux
*.log
*.out
paper/manuscript\.pdf
paper/manuscript\.knit\.md
paper/supp-info\.knit\.md
paper/manuscript\.utf8\.md
paper/supp-info\.utf8\.md
paper/supp-info\.pdf
paper/manuscript_files/
paper/supp-info_files/
paper/supp-info\.toc
paper/reviewers-response\.knit\.md
paper/reviewers-response\.pdf
paper/reviewers-response\.utf8\.md
paper/reviewers-response\.tex
paper/cover-letter\.pdf

paper/reviewers-response_files/figure-latex/

paper/drafts_and_revisions/2019-01-14/reviewers-response\.tex

paper/drafts_and_revisions/2019-01-14/supp-info\.tex
