.Rproj.user
.Rhistory
.RData
**/.DS_Store
*.Rproj

paper/supp_info_2_cache/

*.back

paper/supp_info_2\.tex

paper/nature-communications\.csl

paper/draft_2\.pdf

paper/EL-reviewer-comments-1\.pdf

paper/draft_2_cache/

paper/draft_2_files/

paper/supp_info_2_files/

paper/supp_info_2\.pdf

data/processed/matching_frequency_old/
