.Rproj.user
.Rhistory
.RData
.Ruserdata
packrat/lib*/
*.DS_Store

*.aux
*.log
*.out
*.tex
paper/manuscript\.pdf
paper/manuscript\.knit\.md
paper/supp-info\.knit\.md
paper/manuscript\.utf8\.md
paper/supp-info\.utf8\.md
paper/supp-info\.pdf
paper/manuscript_files/
paper/supp-info_files/
paper/supp-info\.toc
